<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>

<body>
    <div id="app" class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>{{msg}} Vue</h1>
                <i v-if="spin" class="fab fa-bitcoin fa-spin fa-2x"></i>
                <i v-else="spin" class="fab fa-bitcoin fa-2x"></i>
            </div>
            <div class="col-lg">
                <ul class="list-group">
                    <li v-for="item in list" class="list-group-item">{{item}}</li>
                </ul>
            </div>
        </div>
    </div>

    <script src="https://vuejs.org/js/vue.js"></script>
    <script src="js/app.js"></script>
</body>

</html>